<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Forest</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--\\192.168.11.7\Publicaciones\SAAF\COM -->
    <add key="CarpetaOPBcoCompras" value="\\192.168.11.9\adjuntos\SAAF\COM\OPCOM\OPBCOCOM\"/>
    <add key="CarpetaOPCompras" value="\\192.168.11.9\adjuntos\SAAF\COM\OPCOM\"/>
    <add key="CarpetaSolCreRefBan" value="\\192.168.11.9\adjuntos\SAAF\CRE\SOLCRE\REFBAN\"/>
    <add key="CarpetaSolCreRefCom" value="\\192.168.11.9\adjuntos\SAAF\CRE\SOLCRE\REFCOM\"/>
    <add key="CarpetaProCre" value="\\192.168.11.9\adjuntos\SAAF\CRE\PROCRE\"/>
    <add key="CarpetaProCreAdj" value="\\192.168.11.9\adjuntos\SAAF\CRE\PROCRE\ADJ\"/>
    <add key="CarpetaProCreRes" value="\\192.168.11.9\adjuntos\SAAF\CRE\PROCRE\RES\"/>
    <add key="CarpetaProCreRevPla" value="\\192.168.11.9\adjuntos\SAAF\CRE\PROCRE\REVPLA\"/>
    <add key="CarpetaInfRtc" value="\\192.168.11.9\adjuntos\SAAF\CRE\INFRTC\"/>
    <add key="CarpetaAfiIaf" value="\\192.168.11.9\adjuntos\SAAF\AFI\IAF\"/>
    <add key="CarpetaVtaCamPu" value="\\192.168.11.9\adjuntos\SAAF\VTA\Campanas\"/>
    <add key="TamanoKbFtp" value="150"/>
    <add key="FileTmpCom" value="\\192.168.11.9\adjuntos\SAAF\COM\TMP\"/>
    <add key="CarpetaSolCompras" value="\\192.168.11.9\adjuntos\SAAF\COM\SOLCOM\"/>
    <add key="CarpetaGuiaRemision" value="\\192.168.11.9\adjuntos\SAAF\COM\GUIA\"/>
    
    <add key="FormatoFechaBD" value="yyyyMMdd"/>
    <add key="FormatoFechaHoraBD" value="yyyyMMdd HH:mm:ss"/>
    <add key="FormatoFechaSistema" value="dd/MM/yyyy"/>
    <add key="CarpetaCompartidaFoto" value="\\192.168.11.9\adjuntos\SAAF\REH\Fotos\"/>
    <add key="CarpetaFichaMedica" value="\\192.168.11.9\adjuntos\SAAF\REH\FichaMedica\"/>
    <add key="CarpetaRebates" value="\\192.168.11.9\adjuntos\SAAF\VTA\Rebates\"/>
    <add key="CarpetaCompartidaArchivoEmpleado" value="\\192.168.11.9\adjuntos\SAAF\REH\ArchivoEmpleado\"/>
    <add key="CarpetaDescarga" value="\\192.168.11.9\adjuntos\SAAF\REH\ArchivoDescarga\"/>
    <add key="CarpetaArchivoBanco" value="\\192.168.11.9\adjuntos\SAAF\REH\ArchivoBanco\"/>
    <add key="CarpetaArchivoExcel" value="\\192.168.11.9\adjuntos\SAAF\REH\Archivo\Excel\"/>
    <add key="ValorMaximoArchivoPago" value="50000"/>
    <add key="FilePlantillaRDEP" value="\\192.168.11.9\adjuntos\SAAF\REH\Plantilla\RDEP\Plantilla_Formulario_107.xlsx"/>
    <add key="CarpetaPlantillaRDEP" value="\\192.168.11.9\adjuntos\SAAF\REH\Plantilla\RDEP\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
